/* CSS Document */

body{
font-family: Tahoma, Helvetica, sans-serif;
text-transform: uppercase;
line-height: 16px;
list-style-type: none;
}

#page{
margin-left: 20%;
margin-right: 20%;
margin-top: 4%;
background-attachment: fixed;
}

.language{
position: relative;
left: 93%;
top: 1em;
} 
 
ul.main {
 background: rgb(56,164,255);
 width: auto;   /* Sirka Menu*/
 float: middle;       
 list-style-type:none;
 text-align:center;
 position:relative;
 right: 2%;    
}
 
 ul.main li {
 display: inline;
 float: middle;    
 font-size: 13px;
 background: rgb(56,164,255); /* Barva ramecku pod textem*/
 border-bottom: 1em solid grey; 
 padding: 0.25% 2% 0.25% 1%;
 margin: 0% 0% 0% 0%;
 opacity:1;
 border-top:1em solid grey;
}
ul.main li a{ 
text-decoration: none;
font-family:sans-serif;      
 }
 
ul.main li a:link { color: white; }
ul.main li a:visited { color: #667; }
ul.main li a:hover {  
 color: blue;     
          }
ul.main li:hover {  
 border-color: blue; /* Barva ramecku*/    
 }
 
 .pages{
  border: 1px solid white;
  border-radius:0.5%;
  position:relative;
  top: 10em;
  left: 8em;
  margin-right: 16em;
  padding-top: 2em;
  padding-left: 1%;
  padding-bottom: 2em;
  background:white ; 
  background-attachment: fixed;
  font-size: 12px;
 }
 .first{
 opacity:1;
 text-transform: none;
 font-size: 14px;
 }
 